openapi: 3.2.0
info:
  title: Meta Agent Tools Metrics API
  version: 1.0.0
  description: Meta Agent Tools — registry of MCP servers, skills and plugins.
servers:
- url: https://agentalog.com
tags:
- name: Metrics
paths:
  /api/metrics:
    get:
      operationId: get_api_metrics
      summary: Metrics of the last 7 days. With the operator token, includes payments
      description: 'Without credentials it returns visits, usage and accounts. With `METRICS_TOKEN` as Bearer it adds `payments` — and only on Base mainnet, because staging numbers on a finance panel mislead.

        Returns: { app, today, today_visits, today_contacts?, days, usage, accounts, financeiro?, payments? }'
      security: []
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: '`Bearer <METRICS_TOKEN>` to include the finance block.'
      responses:
        '200':
          description: '{ app, today, today_visits, today_contacts?, days, usage, accounts, financeiro?, payments? }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metricas'
      tags:
      - Metrics
components:
  schemas:
    Metricas:
      type: object
      properties:
        app:
          type: string
          description: Product name.
        today:
          type: string
          description: Reference day (UTC, YYYY-MM-DD).
        today_visits:
          type: integer
          description: Visits counted today.
        today_contacts:
          type: integer
          description: 'Contact messages received today. Only with `METRICS_TOKEN`: contact does not leave without a token.'
        days:
          type: array
          items:
            type: object
          description: One record per day of the window, with the counts of each metric.
        usage:
          type: object
          description: Usage per product resource — here, listings created through the surface (origin community); the registry's own catalog load does not count as usage.
        accounts:
          type: object
          description: Total guests and accounts.
        financeiro:
          type: object
          description: 'Aggregate of the day: `hoje_usd`, `hoje_count`, `rede`. Only with `METRICS_TOKEN`: money does not leave without a token; the full series is `payments`.'
        payments:
          type: object
          description: Finance summary; only with METRICS_TOKEN.
      required:
      - app
      - today
      - today_visits
      - days
      - usage
      - accounts
      description: 7-day panel. `payments` only shows with the operator token and only on Base mainnet.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Guest mr_…, session sess_… or ADMIN_TOKEN.
