openapi: 3.2.0
info:
  title: Meta Agent Tools Visit API
  version: 1.0.0
  description: Meta Agent Tools — registry of MCP servers, skills and plugins.
servers:
- url: https://agentalog.com
tags:
- name: Visit
paths:
  /api/visit:
    post:
      operationId: post_api_visit
      summary: Ping from the interface that increments the day's visits.
      description: 'Smoke does not count: `X-MM-Smoke`, User-Agent `mm-smoke` or `smoke: true` in the body come in as `counted: false`.

        Returns: { ok, counted, reason? }'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                p:
                  type: string
                  description: Path of the visited page.
                smoke:
                  type: boolean
                  description: '`true` marks the call as a test and it does not enter the count.'
            example:
              p: /
      responses:
        '200':
          description: '{ ok, counted, reason? }'
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Always `true`.
                  counted:
                    type: boolean
                    description: Whether the visit entered the day's count.
                  reason:
                    type: string
                    description: Why it did not count, when `counted` is `false`.
                required:
                - ok
                - counted
      tags:
      - Visit
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Guest mr_…, session sess_… or ADMIN_TOKEN.
