openapi: 3.2.0
info:
  title: Meta Agent Tools Contact API
  version: 1.0.0
  description: Meta Agent Tools — registry of MCP servers, skills and plugins.
servers:
- url: https://agentalog.com
tags:
- name: Contact
paths:
  /api/contact:
    post:
      operationId: contact
      summary: 'Talks to support: a human solves Turnstile, an agent pays $0.10 in x402'
      description: 'The first agent message is free; after that the backoff is 60s doubling up to a 1-hour cap, announced in `Retry-After`.

        Returns: { ok }'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: What to call the person writing.
                email:
                  type: string
                  description: Where to reply.
                message:
                  type: string
                  description: What you want to say.
                form_ts:
                  type: integer
                  description: When the form was opened; it is the anti-robot of the human path.
              required:
              - name
              - email
              - message
            example:
              name: …
              email: a@example.com
              message: …
              form_ts: 0
      responses:
        '200':
          description: '{ ok }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        '400':
          description: Required field missing.
        '402':
          description: 'Quota exceeded. The response carries `accepts[]` (x402, USDC on Base): pay and repeat the same call with `X-PAYMENT`.'
        '429':
          description: 'Agent backoff: wait for `Retry-After`.'
      tags:
      - Contact
components:
  schemas:
    Ok:
      type: object
      properties:
        ok:
          type: boolean
          description: Always `true` — failure comes as a 4xx/5xx status, not as `ok:false`.
      required:
      - ok
      description: Write confirmation with no body of its own to return.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Guest mr_…, session sess_… or ADMIN_TOKEN.
